* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: #eef0f4;
}

h1 {
    margin: 15px 0 0 30px;
}


textarea{
    margin-bottom: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.cv-download-container,
.general-information-container,
.education-experience-container,
.professional-experience-container {
    padding: 20px 0 0 30px;
    margin-bottom: -20px;
    max-width: 500px;
}


.general-information,
.education-experience,
.professional-experience {
    flex-direction: column;
    padding: 20px;
    display: flex;
    background-color: white;
    border-radius: 20px;
}

.gi-form, .ed-form, .pe-form {
    padding-top: 10px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.cv-download {
    padding: 20px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
}

.download-btn {
    padding: 8px 12px 8px 12px;
    border-radius: 22px;
}

.date-job, .date-edu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.cv-download p,
.general-information p {
    font-size: 16px;
    font-weight: 600;
}

.general-information div,
.education-experience div,
.professional-experience div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}

.general-information input, .education-experience input, .professional-experience input, textarea {
    background-color: #eef0f4;
    padding: 5px 8px 5px 8px;
    border-radius: 4px;
    margin-top: 3px;
    border-style: none;
}